<div class="container_big-card">
  <div class="big-card_picture">
    <img
      src="{{photoCover}}"
      alt=""
      height= "200px"
      srcset= ""
    >
  </div>
  <div class="big-card_publicationDate">
    <p><a [routerLink]="['content',Id]">{{publicationDate}}</a></p>
  </div>
  <div class="big-card_title">
    <h1><a [routerLink]="['content',Id]">{{cardTitle}}</a></h1>
  </div>
  <div class="big-card_autor">
    <p><a [routerLink]="['content',Id]">{{cardAutor}}</a></p>
  </div>
  <div class="big-card_description">
    <p>
      <a [routerLink]="['content',Id]">
        {{cadrDescription}}
      </a>
    </p>
  </div>
</div>
